<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon"
    href="../img/favicon.ico" />
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/chosen.css">
    <script src='../js/chosen.jquery.js'></script>
    <script src="../js/mrspec.js"></script>

    <style type="text/css">

#left {
    float:left
}

#right {
    float:left;
    padding-left:5px     
}

#sidebar {
   overflow-y:auto;
   overflow-x:auto;
   background-color: white;
   width: 545px;
   position: static;
   left: 700px;
}

#sidebar .patient {
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

#sidebar .group {
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

#sidebar .title {
    font-weight:600;
    background-color: white;
    color: #909090;
    text-align: left;
    padding-left: 5px
}

#sidebar .content {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px
}

.optionBox {
	outline: 1px solid #B0B0B0;
	display:inline;
	padding-top:4px;
	padding-bottom: 5px;
}

.optionBox:hover {
   overflow:visible;
}

.arrow {
    width:50px;
    height:50px;
    float:none;
    opacity:0.15;
    transition:opacity 0.25s linear;*
}

.arrow:hover {
    opacity:1;
}

</style>
</head>
<body>
    <div id ='top_header' class="container">
        <div class="header">
            <h3 class="text-muted">MRSpec Database Query and Visualization</h3>
        </div>
        <hr />
        <div>
            <p>
                <form>
                    <span title="Metabolite of the query.">Metabolites: 
                        <select class="chosen" id="metabolites" data-placeholder="Select metabolites..." multiple="true" style="width:300px;">
                            <option>AcAc</option><option>Acn</option><option>Ala</option><option>Asp</option><option>Cho</option><option>Cr</option><option>CrCH2</option><option>GABA</option><option>GPC</option><option>Glc</option><option>Gln</option><option>Glu</option><option>Glx</option><option>Glx_opt</option><option>Gua</option><option>Ins</option><option>Lac</option><option>Lip09</option><option>Lip13a</option><option>Lip13b</option><option>Lip20</option><option>MM09</option><option>MM12</option><option>MM14</option><option>MM17</option><option>MM20</option><option>NAA</option><option>NAAG</option><option>PCh</option><option>PCr</option><option>Scyllo</option><option>Tau</option><option>tCho</option><option>tCho_opt</option><option>tCr</option><option>tCr_opt</option><option>tNAA</option><option>tNAA_opt</option>
                        </select>
                    </span>
                    <span title="Gender of the query.">Gender:
                        <select id='gender' name='gender'>
                            <option value="">Both</option>
                            <option value="'M'">M</option>
                            <option value="'F'">F</option>
                            <option value="'unset'">Unk</option>

                        </select>
                    </span>
                    <span title="Field strength of the query.">Field Strength:
                        <select id='field' name='field'>
                            <option value="">Both</option>
                            <option value="3">3T</option>
                            <option value="1.5">1.5T</option>
                            <!--<option value="unset">Unk</option>-->
                        </select>
                    </span>

                    <span title="Location of the query.">Location:
                        <select class='chosen' data-placeholder="Select location (optional)" multiple='true' id='location' name='location' style="width:200px;">
                            <option value="'BG'">BG</option>
                            <option value="'OCC_WM'">OCC WM</option>
                            <option value="'FT_WM'">FT WM</option>
                            <option value="'Cerebellum'">CRBL</option>
                            <option value="'Else','unset'">Unk</option>
                        </select>
                    </span><br>

                    <div style="padding-top:5px">

                        <span title="Indication code.">Indication code:
                            <select class='chosen' data-placeholder="Indication code (optional)" multiple='true' id='code' style="width:200px;">
                                <option value="AN">AN</option>
                                <option value="DD">DD</option>
                                <option value="DY">DY</option>
                                <option value="MET">MET</option>
                                <option value="GEN">GEN</option>
                            </select>
                        </span>

                        <span title="Keywords of the query. e.g. '%glioma'">Keywords:
                            <div class ='optionBox' ><input type="text" size="4" name="keyword" style="border:0px solid"><img id='keyOpt' src="../img/new_window.png" style="padding-bottom:3px" />
                            </div>
                        </span>

                    </div>

                    <span title="Merge graphs.">Merge Graphs:
                        <input type="checkbox" id="merge" name="Merge Graphs">
                    </span>
                    <span title="Log scale.">Log Scale:
                        <input type="checkbox" id="scale" name="scale" onclick="drawChart(window.my_config.results)">
                    </span>
                    <span title="Trendline.">Trendline:
                        <input type="checkbox" id="trendline" name="trendline" onclick="drawChart(window.my_config.results)">
                    </span>
                    <span title="Overlay queries.">Overlay queries:
                        <input type="checkbox" id="overlay" name="overlay" onclick="document.getElementById('merge').disabled = true;">
                    </span>
                    <span title="Detailed legend.">Detailed legend:
                        <input type="checkbox" id="legend" name="legend">
                    </span>
                    <span title="More options.">More options <img id='allOpt' src="../img/new_window.png" style="padding-bottom:3px" />
                    </span>
                    <a href="javascript:void();" id="query" class='query'><img src='../img/submit.png' alt="Submit Query" style="float:right" /></a>

                </form>
                <p>
                    <a href="javascript:clearSelection()">clear selection (esc)</a> - <a href="javascript:clearCanvas()">clear canvas (del)</a> - <a href="javascript:void();" id="dump" onclick="exportToCsv()">export canvas to file</a> - <a href="javascript:void();" id="png_dump" onclick="exportChartsAsPng()"> export charts as .png</a> - <a href="javascript:void();" id="help" >help</a>
                </p>
            </form>
        </div>
    </div>

    <div id = 'left'>
        <div id="charts"></div>
    </div>

    <div id='right'></div>

    <div id="allOptWindow" title="More Options"><label>Query Refinements</label><br>
        <span title="Search for a tabPatient.">tabPatientID: <input type="text" size="2" name="DatabaseID">
        </span><br>
        <span title="Search for a ScanID.">ScanIDs: <input type="text" size="2" name="ScanID">
        </span><br>
        <span title="Only include the X closest patients above and below the 'AGE'.">Limit:
            <input type="text" size="2" name="limit">
        </span><br>
        <span title="Lower limit of the X-axis range.">Min Age to Show:
            <input type="text" size="2" name="lxlimit">
        </span>
        <span title="Upper limit of the X-axis range.">Max Age to Show:
            <input type="text" size="2" name="uxlimit" value="6570">
        </span><br>
        <span title="Select data that lies outside of a certain standard deviation score.">SD score:
            <input type="text" size="2" name="sdThreshold">
        </span><br>
        <label>Input Patient Data to Compare</label><br>
        <span title="The age of the query. Used to set the center of the limit.">Age:
            <div class ='optionBox'><input type="text" size="2" name="age" placeholder="Days"style="border:0px solid;"><img id='ageOpt' src="../img/new_window.png" style="padding-bottom:3px" />
            </div>
        </span>

        <span title="Values of the query.">Values:
            <input type="text" size="5" name="values">
        </span><br>
    </div>

    <div id="keyOptWindow" title="Keyword Options">
        <span title="Keywords of the query. e.g. '%glioma'">Keywords to exclude:
            <input type="text" size="4" name="key_exclude">
        </span>
    </div>

    <div id="helpWindow" title="QuickStart Guide">
        <label>General Help and Submitting a Query</label>
        <p>The minimum information for a query is a metabolite to display, which can be entered in the upper left hand corner. You may further specify refinements such as gender, field strength, location, and much more. To submit a query, click "submit query" in the upper left hand corner, or press ENTER at any time.</p>
        <p>
            You can find out more about a particular option by hovering over it for a few moments to display a tip. The symbol "<img src="../img/new_window.png" style="padding-bottom:3px" />" indicates that more settings related to that option are available - just click on the symbol to reveal them.
        </p>
        <label>New Features</label>
        <p>• Change default standard deviation thresholds and echotimes by clicking "More options".<br>
            • For metabolites, location and indication code, click on or type inside the box to search/reveal options; you may select multiple options
            • Can now merge two or more metabolites on the same graph
        </p>
        <label>Keyword Search</label>
        <p>Keyword search is implemented using the MySQL 'LIKE' clause, whose basic usage can be summarized as follows:<br>
            • Keyword search will search both the indication and diagnosis fields for all patients in the database and return a scan if either of these fields matches the keyword.<br>
            • For most searches, use the '%' symbol on both ends of the word, i.e. '%glioma%'. '%' is a wildcard for an unlimited number of characters. For instance, if you want to match the word 'dog' in the phrase 'A dog runs', you would need to search '%dog%' since it appears in the middle of the sentence.<br>
            • Use the '_' symbol as a wildcard for a single character. For instance, 'T_m' would match 'Tim','Tom','Tum' and any other letter in the middle.<br>
            • You can enter multiple keywords separated by a comma; scans will be returned if they match any of the keywords.<br>
            • By clicking on <img src="../img/new_window.png" style="padding-bottom:3px" /> in the keyword box, you can enter keywords to EXCLUDE scans from being returned as matches. Only scans that do not have any of these words will be returned.
        </p>

    </div>

    <div id='ageWindow' title="Input Age">
        <label>Years:<input type="text" size="4" id='years' name='years' onKeyUp="calculateAge()" value='0'></label><br>
        <label>Months:<input type="text" size="4" id='months' name='months' onKeyUp="calculateAge()" value='0'></label><br>
        <label>Weeks:<input type="text" size="4" id='weeks' name='weeks' onKeyUp="calculateAge()" value='0'></label><br>
        <label>Days:<input type="text" size="4" id='days' name='days' onKeyUp="calculateAge()" value='0'></label>
    </div>

    <div id='echoWindow' title="Change Echotimes">
        <form method="post">
            <div style="float: left; width: 20%;text-align:right">
                <label>AcAc:<input type='text' size='1' id=e_AcAc name=e_AcAc class='e_met'></label>
                <label>Acn:<input type='text' size='1' id=e_Acn name=e_Acn class='e_met'></label>
                <label>Ala:<input type='text' size='1' id=e_Ala name=e_Ala class='e_met'></label>
                <label>Asp:<input type='text' size='1' id=e_Asp name=e_Asp class='e_met'></label>
                <label>Cho:<input type='text' size='1' id=e_Cho name=e_Cho class='e_met'></label>
                <label>Cr:<input type='text' size='1' id=e_Cr name=e_Cr class='e_met'></label>
                <label>CrCH2:<input type='text' size='1' id=e_CrCH2 name=e_CrCH2 class='e_met'></label>
                <label>GABA:<input type='text' size='1' id=e_GABA name=e_GABA class='e_met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>GPC:<input type='text' size='1' id=e_GPC name=e_GPC class='e_met'></label>
                <label>Glc:<input type='text' size='1' id=e_Glc name=e_Glc class='e_met'></label>
                <label>Gln:<input type='text' size='1' id=e_Gln name=e_Gln class='e_met'></label>
                <label>Glu:<input type='text' size='1' id=e_Glu name=e_Glu class='e_met'></label>
                <label>Glx:<input type='text' size='1' id=e_Glx name=e_Glx class='e_met'></label>
                <label>Gua:<input type='text' size='1' id=e_Gua name=e_Gua class='e_met'></label>
                <label>Ins:<input type='text' size='1' id=e_Ins name=e_Ins class='e_met'></label>
                <label>Lac:<input type='text' size='1' id=e_Lac name=e_Lac class='e_met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>Lip09:<input type='text' size='1' id=e_Lip09 name=e_Lip09 class='e_met'></label>
                <label>Lip13a:<input type='text' size='1' id=e_Lip13a name=e_Lip13a class='e_met'></label>
                <label>Lip13b:<input type='text' size='1' id=e_Lip13b name=e_Lip13b class='e_met'></label>
                <label>Lip20:<input type='text' size='1' id=e_Lip20 name=e_Lip20 class='e_met'></label>
                <label>MM09:<input type='text' size='1' id=e_MM09 name=e_MM09 class='e_met'></label>
                <label>MM12:<input type='text' size='1' id=e_MM12 name=e_MM12 class='e_met'></label>
                <label>MM14:<input type='text' size='1' id=e_MM14 name=e_MM14 class='e_met'></label>
                <label>MM17:<input type='text' size='1' id=e_MM17 name=e_MM17 class='e_met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>MM20:<input type='text' size='1' id=e_MM20 name=e_MM20 class='e_met'></label>
                <label>NAA:<input type='text' size='1' id=e_NAA name=e_NAA class='e_met'></label>
                <label>NAAG:<input type='text' size='1' id=e_NAAG name=e_NAAG class='e_met'></label>
                <label>PCh:<input type='text' size='1' id=e_PCh name=e_PCh class='e_met'></label>
                <label>PCr:<input type='text' size='1' id=e_PCr name=e_PCr class='e_met'></label>
                <label>Scyllo:<input type='text' size='1' id=e_Scyllo name=e_Scyllo class='e_met'></label>
                <label>Tau:<input type='text' size='1' id=e_Tau name=e_Tau class='e_met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>tCho:<input type='text' size='1' id=e_tCho name=e_tCho class='e_met'></label>
                <label>tCr:<input type='text' size='1' id=e_tCr name=e_tCr class='e_met'></label>
                <label>tNAA:<input type='text' size='1' id=e_tNAA name=e_tNAA class='e_met'></label>
                <label>tCho_opt:<input type='text' size='1' id=e_tCho_opt name=e_tCho_opt class='e_met'></label>
                <label>tCr_opt:<input type='text' size='1' id=e_tCr_opt name=e_tCr_opt class='e_met'></label>
                <label>tNAA_opt:<input type='text' size='1'id=e_tNAA_opt name=e_tNAA_opt class='e_met'></label>
            </div>
        </form>
    </div>

    <div id='metWindow' title="Change Thresholds">
        <form method="post">
            <div style="float: left; width: 20%;text-align:right">
                <label>AcAc:<input type='text' size='1'  id=AcAc name=AcAc class='met'></label>
                <label>Acn:<input type='text' size='1'  id=Acn name=Acn class='met'></label>
                <label>Ala:<input type='text' size='1'  id=Ala name=Ala class='met'></label>
                <label>Asp:<input type='text' size='1'  id=Asp name=Asp class='met'></label>
                <label>Cho:<input type='text' size='1'  id=Cho name=Cho class='met'></label>
                <label>Cr:<input type='text' size='1'  id=Cr name=Cr class='met'></label>
                <label>CrCH2:<input type='text' size='1'  id=CrCH2 name=CrCH2 class='met'></label>
                <label>GABA:<input type='text' size='1'  id=GABA name=GABA class='met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>GPC:<input type='text' size='1'  id=GPC name=GPC class='met'></label>
                <label>Glc:<input type='text' size='1'  id=Glc name=Glc class='met'></label>
                <label>Gln:<input type='text' size='1'  id=Gln name=Gln class='met'></label>
                <label>Glu:<input type='text' size='1'  id=Glu name=Glu class='met'></label>
                <label>Glx:<input type='text' size='1'  id=Glx name=Glx class='met'></label>
                <label>Gua:<input type='text' size='1'  id=Gua name=Gua class='met'></label>
                <label>Ins:<input type='text' size='1'  id=Ins name=Ins class='met'></label>
                <label>Lac:<input type='text' size='1'  id=Lac name=Lac class='met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>Lip09:<input type='text' size='1'  id=Lip09 name=Lip09 class='met'></label>
                <label>Lip13a:<input type='text' size='1'  id=Lip13a name=Lip13a class='met'></label>
                <label>Lip13b:<input type='text' size='1'  id=Lip13b name=Lip13b class='met'></label>
                <label>Lip20:<input type='text' size='1'  id=Lip20 name=Lip20 class='met'></label>
                <label>MM09:<input type='text' size='1'  id=MM09 name=MM09 class='met'></label>
                <label>MM12:<input type='text' size='1'  id=MM12 name=MM12 class='met'></label>
                <label>MM14:<input type='text' size='1'  id=MM14 name=MM14 class='met'></label>
                <label>MM17:<input type='text' size='1'  id=MM17 name=MM17 class='met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>MM20:<input type='text' size='1'  id=MM20 name=MM20 class='met'></label>
                <label>NAA:<input type='text' size='1'  id=NAA name=NAA class='met'></label>
                <label>NAAG:<input type='text' size='1'  id=NAAG name=NAAG class='met'></label>
                <label>PCh:<input type='text' size='1'  id=PCh name=PCh class='met'></label>
                <label>PCr:<input type='text' size='1'  id=PCr name=PCr class='met'></label>
                <label>Scyllo:<input type='text' size='1'  id=Scyllo name=Scyllo class='met'></label>
                <label>Tau:<input type='text' size='1'  id=Tau name=Tau class='met'></label>
            </div>
            <div style="float: left; width: 20%;text-align:right">
                <label>tCho:<input type='text' size='1'  id=tCho name=tCho class='met'></label>
                <label>tCr:<input type='text' size='1'  id=tCr name=tCr class='met'></label>
                <label>tNAA:<input type='text' size='1'  id=tNAA name=tNAA class='met'></label>
                <label>tCho_opt:<input type='text' size='1'  id=tCho_opt name=tCho_opt class='met'></label>
                <label>tCr_opt:<input type='text' size='1'  id=tCr_opt name=tCr_opt class='met'></label>
                <label>tNAA_opt:<input type='text' size='1' id=tNAA_opt name=tNAA_opt class='met'></label>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript">

loadThresholds()
loadEchotimes()
google.charts.load('41', {packages: ['corechart']});
//needed to let list be transfered
jQuery.ajaxSettings.traditional=true

$(document).ready(function () {

    $(".chosen").data("placeholder","Select options...").chosen()

    setSize()

    $(window).bind('resize', function() {
        scrollControl()
        setSize()
    })

    $(window).scroll(function () {
        scrollControl()
    })

});

$(document).keyup(function(e) {
    if (e.keyCode == 13) { $('.query').click(); }     // enter
    if (e.keyCode == 27) { clearSelection() } //esc
        if (e.keyCode == 46) { clearCanvas() } //del
    });

//HELP WINDOW
$( "#helpWindow" ).dialog({ modal: true, minWidth: 900, height:400,
    buttons: {

        Close: function() {
            $( this ).dialog( "close" );
        }
    } 
});

$( "#help" ).click(function() {
    $( "#helpWindow" ).dialog( "open" );
});

//ALL OPTION WINDOW
$( "#allOptWindow" ).dialog({ autoOpen: false, modal: true, minWidth: 900,
    buttons: {

        "Change SD thresholds (advanced)": function() {
            $( "#metWindow" ).dialog( "open" );
        },

        "Change echotimes (advanced)": function() {
            $( "#echoWindow" ).dialog( "open" );
        },

        Close: function() {
            $( this ).dialog( "close" );
        }
    } 
});

$( "#allOpt" ).click(function() {
    $( "#allOptWindow" ).dialog( "open" );
});

//KEYWORD OPTION WINDOW
$( "#keyOptWindow" ).dialog({ autoOpen: false, modal: true, minWidth: 500,
    buttons: {

        Close: function() {
            $( this ).dialog( "close" );
        }
    } 
});

$( "#keyOpt" ).click(function() {
    $( "#keyOptWindow" ).dialog( "open" );
});


//AGE OPTION WINDOW
$( "#ageWindow" ).dialog({ autoOpen: false, modal: true,
    buttons: {
        Close: function() {
            $( this ).dialog( "close" );
        }
    } 
});

$( "#ageOpt" ).click(function() {
    $( "#ageWindow" ).dialog( "open" );
});

//MET_THRESH OPTION WINDOW
$( "#metWindow" ).dialog({ autoOpen: false, modal: true, minWidth: 700,
    buttons: {

        "Load defaults": function() {
            loadThresholds()
        },
        "Save and Close": function() {
            $( this ).dialog( "close" );
            sendThresholds();
        }
    } 
});

//ECHO OPTION WINDOW
$( "#echoWindow" ).dialog({ autoOpen: false, modal: true, minWidth: 700,
    buttons: {

        "Load defaults": function() {loadEchotimes()},
        "Save and Close": function() {
            $( this ).dialog( "close" );
            sendEchotimes();
        }        
    } 
});

</script>
</body>
</html>