<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://www.google.com/jsapi"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
        rel="stylesheet">

        <style type="text/css">
			#left {float:left}
			#right {float:left}
        
			#sidebar {
			
				background-color: white;
				width: 545px;
				position: static;
				left: 700px;

			}

			#sidebar .patient {
				border: 1px solid #eee;
				padding: 10px;
				padding-bottom: 5px;
				margin-top: 10px;
			}

			#sidebar .title {
				font-weight:600;
				background-color: white;
				color: #909090;
				text-align: left;
				padding-left: 5px
			}

			#sidebar .content {
				text-align: left;
				padding-left: 15px;
				padding-bottom: 5px
			}

			#sidebar .listContainer{
} 

ul.justify { margin-left:-2.75em; } 


.expList ul, li {

    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
    

}
.expList p {
    margin:0;
    display:block;
}
.expList p:hover {
    background-color:#121212;
}
.expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
 
/* Collapsed state for list element */
.collapsed {
    background-image: url(../img/collapsed.png);
        background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
.expanded {
    background-image: url(../img/expanded.png);
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">MRSpec Database Query and Visualization</h3>
            </div>
            <hr />
            <div>
                <p>
                    <form>
                        Age:
                        <input type="text" size="5" name="age">
                        Gender:
                        <select id='gender' name='gender'>
                            <option value="">Both</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        Field Strength:
                        <select id='field' name='field'>
                            <option value="">Both</option>
                            <option value="3">3 T</option>
                            <option value="1.5">1.5 T</option>
                        </select>
                        Metabolites:
                        <input type="text" size="5" name="b">
                        Values:
                        <input
                        type="text" size="5" name="c">
                        Keyword:
                        <input type="text"
                        size="5" name="keyword">
                        Keyword exclude:
                        <input type="text"
                        size="5" name="key_exclude">
                        Limit:
                        <input
                        type="text" size="5" name="limit">
                        Location:
                        <input
                        type="text" size="5" name="location">
                        <br>
                        Merge Graphs:
                        <input type="checkbox" id="merge" name="Merge Graphs">
                        Log Scale:
                        <input type="checkbox" id="scale" name="scale" onclick="drawChart(window.my_config.results)">
                        Trendline:
                        <input type="checkbox" id="trendline" name="trendline" onclick="drawChart(window.my_config.results)">
                        Overlay queries:
                        <input
                        type="checkbox" id="overlay" name="overlay" onclick="document.getElementById('merge').disabled = true;">

                    </form>
                <p>
                    <a href="javascript:void();" id="query" class='query'>submit
                    query</a> - <a href="javascript:void();" id='clear'>clear canvas</a> - <a href="javascript:void();" id="dump">dump query to file</a>
                </p>
                </form>
            </div>
        </div>

		<div id = 'left'>
        <div id="charts"></div>
        </div>

		<div id='right'>
        <div id="sidebar" style="overflow-y:auto;"></div>
		</div>

        <script type="text/javascript">

			document.getElementById('clear').onclick = clearCanvas;


function clearCanvas() {
  $('.patient').remove()
  $('.myCharts').remove()

  document.getElementById('merge').disabled = false

  window.my_config = null

  
  return false;
}
        
			 			$(function() { 
            $('a#query').bind('click', function() {
            $.getJSON('/_add_numbers', {
            keywords: $('input[name="keyword"]').val(),
            key_exclude: $('input[name="key_exclude"]').val(),
            age: $('input[name="age"]').val(),
            limit: $('input[name="limit"]').val(),
            location: $('input[name="location"]').val(),
            merge: document.getElementById('merge').checked,
            b: $('input[name="b"]').val(),
            c: $('input[name="c"]').val(),
            gender: $("#gender option:selected").val(),
            field: $("#field option:selected").val(),
            overlay: (document.getElementById('overlay').checked == false || (document.getElementById('overlay').checked == true && window.my_config == null))? 0:(window.my_config.results[window.my_config.names[0]].cols.length -1)
            }, function(data) {
            
            

			if (document.getElementById('overlay').checked == false || (document.getElementById('overlay').checked == true && window.my_config == null)){

							window.my_config = {metadata_array: data.metadata_array,
												sd_array: data.sd_array,
												results: data.result,
												names: data.names
												}
							
				            render_html(data.names)
            				drawChart(data.result);
			} else {

				if (window.my_config.sd_array != null)
					window.my_config['sd_array'] = window.my_config.sd_array.concat(data.sd_array)

				window.my_config['metadata_array'] = window.my_config.metadata_array.concat(data.metadata_array)
								console.log(data.metadata_array)
				console.log(window.my_config.metadata_array.concat(data.metadata_array))
				
				
				redraw_charts(data.result)
			
			}
			
            $(".patient").remove()
            
            });
            return false;
            });
            });

$(document).ready(function () {

	setSize()

    $(window).bind('resize', function() {
		scrollControl()
        setSize()
    })

    $(window).scroll(function () {
    	scrollControl()
    })
        

});


	function setSize(){
		var width = ($(window).width() / 2 )
		var height = $(window).height()
		$('#left').css({
		'width':width+20,

		})
		$('#right').css({
		'width':width-21,
		})
	}

	function scrollControl(){

        var scroll = $(this).scrollTop()? $(this).scrollTop():0
        var height = $('#sidebar').height() + 'px';
        var max_height = $(window).height()
        var width = $(window).width()/2

        if (scroll < $('#charts').offset().top) {

            $('#sidebar').css({
                'position': 'static',
                'top': '0',
                'max-height': max_height - (165-scroll),
            });

        } else {

            $('#sidebar').css({
                'position': 'fixed',
                'top': '0',
				'left':width + 20,
                'max-height': max_height,

            })
        }
	}

  function prepareList() {
  	for (patient in window.my_config.current_selection) {
  		$('#'+patient).find('li:has(ul)').unbind('click').click(function(event) {
		if(this == event.target) {
			$(this).toggleClass('expanded');
			$(this).children('ul').toggle('medium');
		}
		return false;
	}).addClass('collapsed').removeClass('expanded').children('ul').hide();
 
	//Hack to add links inside the cv
	$('#' + patient + 'a').unbind('click').click(function() {
		window.open($(this).attr('href'));
		return false;
	});

	}
};

            $(document).keyup(function(e) {
            if (e.keyCode == 13) { $('.query').click(); }     // enter
            if (e.keyCode == 27) {
             	            
            		for (c in window.my_config.charts){
		            	window.my_config.charts[c].setSelection()
		            		}
					}
					$(".patient").remove()  // esc
            });

            function render_html(names) {
            if (document.getElementById('overlay').checked != true){
            $(".myCharts").remove()
            } else if ('charts' in window.my_config) {console.log("True")}
            
            for (name in names) {
            $("#charts").after("<div id = " + names[name] + " style='width: 700px; height: 400px; float: right;' class = 'myCharts'>")
                }
                }


                google.load("visualization", "1", {packages:["corechart"]});
                // google.setOnLoadCallback(drawChart);

            function drawChart(results) {
                // render and store DataTables in dictionary
                allChartData = {}
                for (result in results) {
                allChartData[result] = new google.visualization.DataTable(results[result])
                }

                charts = {}
                for (c in allChartData){
                var columns = allChartData[c].getNumberOfColumns()

                var options = {
                title: 'Age vs. ' + c,
                hAxis: {title: 'Age', minValue: 0, maxValue: 15,            
                logScale: document.getElementById('scale').checked? true:false},
                vAxis: {title: c, minValue: 0, maxValue: 5},
                legend: (columns > 3)? {}: 'none',
                aggregationTarget: 'series',
                selectionMode: 'multiple',
                pointSize: 4,
                explorer: {},
                trendlines: document.getElementById('trendline').checked? { 0: {pointSize: 0, type: 'linear'} }: null,
                chartArea: columns > 2? {width: '70%', height: '70%'}:{width: '80%', height: '70%'},
                tooltip: {isHtml: true, trigger: 'none'},
                }

                charts[c] = new google.visualization.ScatterChart(document.getElementById(c));
                charts[c].draw(allChartData[c], options);
                }

                window.my_config['charts'] = charts;

                for (c in charts) {
                	google.visualization.events.addListener(charts[c], 'select', function() { update_sidebar() } )
                	/*google.visualization.events.addListener(charts[c], 'onmouseover', sidebar_mouseover);
    				google.visualization.events.addListener(charts[c], 'onmouseout', sidebar_mouseout) */
                }
                };

				 /*function sidebar_mouseover() {
				 	
				 }*/

			function redraw_charts(results){
				var merged_results = window.my_config.results
				for (d in merged_results){
					var label = ''
					if (d in results){
						merged_results[d]['rows'] = merged_results[d]['rows'].concat(results[d].rows)
						label = results[d].cols[results[d].cols.length -1].id
						console.log(label)
						}
					merged_results[d]['cols'] = merged_results[d]['cols'].concat({"id": "", "label": label, "type": "number"})
				}
				console.log(merged_results)
				drawChart(merged_results)
			}

			function compare_unique_dict(a,b) {
				 var a_key = 0
				 var b_key = 0
				 for (c in a)
				 	a_key = a[c]
				 for (d in b)
				 	b_key = b[d]
  				if (a_key < b_key)
     				return -1;
  				if (a_key > b_key)
    				return 1;
  				return 0;
}
				 

				function add_SD(r){
					var complete_list = ""
					
					var positive = []
					var negative = []					
					var zero = []
					
					var categories = [positive,negative,zero]

					//sort and order
					var ordered_sd = window.my_config.sd_array[r].sort(compare_unique_dict)

					for (m in ordered_sd){
						if (compare_unique_dict(ordered_sd[m],{'a':0}) == 0){

							zero.push(ordered_sd[m])
						}
						else if (compare_unique_dict(ordered_sd[m],{'a':0}) == 1){
							positive.unshift(ordered_sd[m])
						}
						else {
							negative.push(ordered_sd[m])
						}						
					}
					console.log(categories)
					var ent_list = "<div class='listContainer'><ul id='"+r+"' class='justify'>"

					//render the list
					for (c in categories){

						if (categories[c].length > 0) {
							var elem = "<li>"

							for (met in categories[c][0])
								elem +="" + met + ": " + categories[c][0][met] + " SD"
							
						
							if(categories[c].length > 1){
								elem += "<ul class='justify'>"
								for (i = 1; i < categories[c].length; i++){
									for (name in categories[c][i])
										elem +="<li>" + name +": " + categories[c][i][name] + " SD </li>"
								}
								elem += "</ul>"
							}
						ent_list += elem +"</li>"
						}
					}
					ent_list += "</ul></div>"
					
					return ent_list

				}

                function update_sidebar(){

		            $(".patient").remove()

		            var patients = {}

		            for (c in window.my_config.charts){
		            	selection = window.my_config.charts[c].getSelection()
		            		for (i = 0; i < selection.length; i++){
		            			patient = selection[i].row
		            			if (selection[i].row in patients){} else{
		            				patients[patient] = null
		            			}
		            		}
					}

					window.my_config['current_selection'] = patients

					for (r in patients){

						var i = ""

						for (m in window.my_config.metadata_array[r]) {
		            		for (n in window.my_config.metadata_array[r][m]) {
		            			if (window.my_config.metadata_array[r][m][n]) {
		            				i+= "<div class='title'>"
		            					+n+": </div><div class='content'>" 
		            					+ window.my_config.metadata_array[r][m][n] + "</div>"
		            				}
		            			
		            				
		            		}
		            	}
		            	if (window.my_config.sd_array != null){
		           			i+= "<div class='title'>SD for available metabolites:</div><div class='content'>" + add_SD(r) +"</div>"
							}

						$("#sidebar").append("<div id='"+window.my_config.metadata_array[r].id+"' class='patient'>"+i+"</div>")
								            	
		            }

		            if (window.my_config.sd_array != null)
						prepareList()
					//needed in case of scroll bar
					setSize()
                }

                /*
				 * for (c in charts) {
				 * google.visualization.events.addListener(charts[c], 'select',
				 * select_rows(charts[c], charts)); } };
				 * 
				 * function select_rows (chart, charts){ alert("Selection!") var
				 * r = [{row: chart.getSelection()[0].row}]; for (c in charts){
				 * 
				 * charts[c].setSelection(r); } }
				 */

                /*
				 * for(i=0; i<document.FormName.elements.length; i++) {
				 * document.FormName.elements[i].disabled=true; }
				 */
        </script>
        
    </body>
</html>
